
// Body
$body-bg: #d2e1ff;
$step-bg: #dedede;

// Gradients
$step-title-bg1: #ffc500;
$step-title-bg2: #eea20e;

$step-button-bg1: #404bb6;
$step-button-bg2: #7563d3;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
