
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

html,body
{
  height: 100%;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.clear-float{
  clear: both;
}

.container{
  background-color: $body-bg;
}

.form{
  background-color: white;
  border-radius: 15px;

  box-shadow: 0 0 10px 5px #aaa;
}

.step{
  background-color: $step-bg;
  border-radius: 15px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.step:nth-child(2n){
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.step-title{
  background: linear-gradient(to bottom, $step-title-bg1 , $step-title-bg2);
  border-radius: 15px;
  color: white;
  font-size: 16px;
  line-height: 16px;
  height: 60px;
  padding: 22px 0;
  padding-left: 18px !important;
}

.step-elements *{
  font-weight: bold;
}

.step-elements-input{
  border: 0px;
  border-radius: 15px;
  display: block;
  width: 100%;
  height: 35px;
}

.step-comment-input{
  border: 0px !important;
  border-radius: 15px !important;
  width: 100% !important;
  height: 100px !important;
}

.step-elements-button{
  background: linear-gradient(to bottom, $step-button-bg1 , $step-button-bg2);
  color: white;
  border: 0px;
  border-radius: 15px;
  width: 125px;
  text-align: center;
  height: 30px;
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';